* text=auto

.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.vrm binary
*.wav binary
